<%- include("header-admin.ejs") %>
<%- include("nav-admin.ejs") %>
    <!-- =============== FIM DO MENU =============== -->
    
    <!-- =============== Conteúdo ================== -->
    <div class="container mt-5 pt-5">

        <!--Form Atualiza -->
        <h2 class="alert alert-info">Atualizar Promoções</h2>
        <form action="./atualiza-promo" method="get" class="mt-5 mb-5">

            <div class="form-group">
              <label for="promo">Adicionar a Lista de Promoções?</label>
              <input type="radio" class="col-lg-1" value="1" id="promo_sim" name="promo">Sim
              <input type="radio" class="col-lg-1" value="0" id="promo_nao" name="promo">Não
            </div>

            <div class="form-group">
                <label for="livro">Livro: </label>
                <select name="id">
                    <%galeria.forEach((item) =>{ %>
                    <option value="<%=item.livros_id%>"><%=item.titulo%></option>
                <% }) %>
                </select>
              </div>

            <button type="submit" class="btn btn-primary">Confirmar</button>
          </form>


    </div>
    <!-- =============== Fim do Conteúdo ================== -->

<!-- =============== FOOTER ================== -->
<footer class="bg-dark mt-5 pt-5 text-left text-white">
   <p class="pl-5 pb-5">&copy;2034 - Todos os direitos reservados</p>
</footer>
</body>
</html>
<!-- =============== Fim FOOTER ================== -->